can~=0.0.0
certifi==2023.7.22
charset-normalizer==3.0.1
idna==3.4
paho-mqtt==1.6.1
requests~=2.27.1
urllib3==1.26.18
colorlog==6.7.0
colorama==0.4.5
python-can~=3.3.4
uvicorn~=0.16.0
numpy~=1.19.5
watchdog~=2.3.1