.card {
    margin: 15px;
    background-color: white;
    flex-grow: 1;
    width: 300px;
    border-radius: 15px;
    height: 180px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    font-family: monospace
}
#stats-card{
    height: 300px;
}
.title{
    font-size: 25px;
    font-style: italic;
    margin: 5px;
    color: rgb(173, 173, 173);
    text-align: center;
}
.value{
    font-size: 50px;
    font-weight: 700;
    margin: 5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 12px;
}
.pie-area{
    margin: 5px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    width: calc(100% - 10px);
    height: 170px;
}
.secondValue{
    font-size: 32px;
    font-weight: 500;
    margin: 5px;
    text-align: center;
}
.subtitle{
    font-size: 20px;
    font-style: italic;
    margin: 5px;
    text-align: center;
    color: rgb(173, 173, 173);
}
.red-value{
    color: red;
}
.blue-value{
    color: #8884d8
}
.alert-card{
    margin: 14px;
    background-color: rgb(233, 194, 194);
    flex-grow: 1;
    width: 300px;
    border-radius: 15px;
    height: 180px;
    border: solid 1px red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    font-family: monospace;
    position:relative
}
.green-value{
    color:rgb(8, 212, 8)
}
.alert-icon {
    position: absolute;
    bottom: -15px;
    right: -25px;
}
