name: Code Quality

on:
  pull_request:
    branches:
      - develop
      - master
  push:
    branches:
      - develop
      - master
  workflow_dispatch:

jobs:
  lint:
    name: Python Code Quality and Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip' # caching pip dependencies
      - run: pip install flake8-docstrings
      - run: flake8 ./src/ --docstring-convention numpy --max-line-length 120 --ignore D401,D205,D400
      - uses: ricardochaves/python-lint@v1.4.0
        with:
          python-root-list: "src"
          use-pylint: false
          use-pycodestyle: true
          use-flake8: false
          use-black: false
          use-mypy: false
          use-isort: false
          extra-pylint-options: "--max-line-length=120 --ignore=E722,W0703,E0401,W0107"
          extra-pycodestyle-options: "--max-line-length=120 --ignore=E722"
          extra-flake8-options: "--docstring-convention numpy --max-line-length 120 --ignore D401,D205,D400"
          extra-black-options: ""
          extra-mypy-options: ""
          extra-isort-options: ""